.circle-marker    
  float: left
  width: 33px
  height: 33px
  border-radius: 50%
  text-align: center
  background: #009688
  overflow: hidden
  margin-left: 10px
  margin-right: 10px
  color: #fff
  cursor: pointer
  padding: 1px