#search-supplier-input
  box-shadow: none
  border-radius: none
  border: 1px solid #ccc

.suppliers-table
  font-size: smaller
  
  & thead
    background: #4F5454
    color:  #fff

#suppliers-list-banner
  background: rgb(33, 150, 243)
  padding: 10px
  margin-bottom: 25px
  color: rgb(255, 255, 255)

.status-box
  width: 65px
  height: 65px;
  overflow: hidden
  background: #8bc34a
  color: rgb(2525, 255, 255)