body{
  background: rgb(255,255,255);
}
input:focus,input:active,textarea:focus,textarea:active {
  border-color: inherit;
  background: none;
  border:none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.auth-error{
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
  margin-top:50px
}
.auth-default{
  display: none;
}
.auth-org{
  margin-top: 0px;
}
#organization,#username,#password{
  border: 1px solid rgba(200,200,200,0.9);
  padding: 10px;
  text-align: center;
}
