list-container
  display: block

.list-bidding-section
  border-top: 1px solid rgba(240,240,240,0.8)

.list
  padding-top: 10px
  background: #fff
  padding-bottom: 5px
  cursor: pointer
  height: auto
  overflow: auto
  border-bottom: 1px solid rgba(220,220,220,.6)

  & a
    text-decoration-line: none
    
    &:hover
      text-decoration-line: none

      
  & .list-item-header
    font-weight:bold
  
  &.active
    border-left: 3px solid #17a2b8
    background: rgba(240,240,240,.3)
