.main-menu
  margin-top: 50px

  li
    padding: 10px 5px 10px 5px
    margin-bottom: 2px
    cursor:pointer
    font-size: 13px

    &.sub
      color: #bbbbbb;
    
      & .material-icons
        font-size: 20px !important
      
    &.active
      background: rgb(255,184,12)
      color: #000

    &.deactivated
      opacity: 0.5

.main-menu-list
  color: rgb(240,240,240)
