/*spinner*/
/*https://codepen.io/ruigewaard/pen/CtnsJ*/
.spinner{
  left:calc(50% - 50px);
  top: 200px;
	position:fixed;
	z-index:2046;
}
.block {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background:rgb(200,200,200);
}

.block:nth-child(4n+1) { animation: wave 1.2s ease .0s infinite; }
.block:nth-child(4n+2) { animation: wave 1.2s ease .2s infinite; }
.block:nth-child(4n+3) { animation: wave 1.2s ease .4s infinite; }
.block:nth-child(4n+4) { animation: wave 1.2s ease .6s infinite; margin-right: 0; }

@keyframes wave {
  0%   { top: 0;     opacity: 1; }
  50%  { top: 30px;  opacity: .2; }
  100% { top: 0;     opacity: 1; }
}