#general-modal 
  & .content
    min-width: 400px
    width: 30%
    left: 35%

.send-req-modal-section
    & input#search-supplier
    #remarks
      border: 1px solid #ccc !important


.suppliers-invitation-sending-list-section
  background: #f0f0f0
  margin-top:  10px
  padding: 5px


#award-remarks
  height: 250px
  border: 1px solid #ccc !important