#search-account-input
  box-shadow: none
  border-radius: none
  border: 1px solid #ccc

.suppliers-table
  font-size: smaller

  & thead
    background: #375767
    color:  #fff

.sections-list-item:not(:last-child)
  border-bottom: 1px solid rgba(200,200,200,0.2)