#general-modal 
  & .content
    min-width: 300px
    width: 25%
    left: 32.5%

.send-req-modal-section
    & input#search-supplier
    #remarks
      border: 1px solid #ccc !important


.suppliers-invitation-sending-list-section
  background: #f0f0f0
  margin-top:  10px
  padding: 5px


#remarks
  height: 250px