#supplier-section-menu
  background:#fff
  position: relative
  box-shadow: 0 0 10px rgba(200,200,200,.4)
  font-size: 14px;
  color: #444444
  margin-top: 0
  margin-bottom: 0
  padding: 5px

  & a 
    color: #444

  & ul
    & li
      &.active
        border-bottom: 3px solid rgb(2,158,151)
