#general-modal
  & .content
    width: 30%
    left: 35%

#bidding-modal
  & .content
    min-width: 400px
    width : 30%
    left: 35%
  
.deadline-modal-section
  padding: 20px

.deadline-modal-section 
  & input
    border: 1px solid #ccc !important
    background: #f9f9f9 !important