.list-sidebar
    padding-bottom: 100px

.search-button-group 
    & .btn
        background:#fff;
        color:#3c3c3c;

.search-button-group 
    & #search
        border:none !important; 

.search-button-group 
    & .btn:nth-child(2)
        border-left:1px solid #efefef;

