navbar
    width: 100%
    min-height: 50px

.navbar-fixed-top
    position: fixed
    right: 0
    left: 0
    z-index: 1030

.navbar-dark
    background: #3c3c3c!important
    color: rgba(255,255,255,.84)

.hamburger
    float: left

.hamburger .burger
    display: inherit
    width: 18px
    height: 2px
    background: rgb(255,184,12) !important
    margin: 2px 98% 1px 15px

.hamburger.hidden
    display: none

.nav-top-menu
    display: none

.back-to-list-button
    color: rgb(255,184,12) !important

.navbar-top
    background: rgb(60,60,60) !important
    margin-bottom: 0

.nav-top-menu li a
  color: rgb(255,184,12) !important

